#about-section {
	width: 60%;
    margin: auto;
	transition: 0.5s ease;
	vertical-align: top;
	overflow-y: scroll;
}

/* RESPONSIVENESS */
/* narrow desktop web browsers */
@media screen and (max-width: 800px) {
	#about-section {
        width: 70%;
		margin: auto;
		padding: 0 2em 0 2em;
		display: block;
	} 
} /* end narrow desktop */

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
	#about-section {
		font-size: 2.5em;
		margin: auto;
		padding: 3em .75em 3em .75em;
		display: block;
	}
}