html { 
  background: url('images/mural-small.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  overflow: hidden;	
}

.filter {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%; 
}

.warning-text {
	color: #F09905;
	font-size: 0.9em;
	font-style: italic;
}

body {
  font-family: 'Roboto', Avenir, sans-serif;
  font-weight: 300;
  margin: 0;
  color: #666666;
  padding-top: 3em;
}

.spacer-half {
	height: 0.5em;
}
.spacer {
	height: 1em;
}
.spacer-3 {
	height: 3em;
}
.spacer-5 {
	height: 5em;
}

#menu-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3em;
  background-color: #262626; /* almost black */
  text-align: center;
  top: 0;
  position: fixed;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}
#menu-container .menu-btn {
  display: inline-block;
  width: 5em; /* each menu item block will be this width */
  text-align: center;
  height: 100%;
  line-height: 3em; /* set to be the same as the height of ul so it is vertically centered */
}
#menu-container .menu-btn .menu-link {
  text-decoration: none;
  color: white;
}
#menu-container .menu-btn .menu-link:hover {
  opacity: 0.5;
}
body#home a#nav-home,
body#photos a#nav-photos,
body#resume a#nav-resume
{
	color: #99CCFF;
}

.center-box {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.centered {
  text-align: center;
}

#resume-center-box, #photos-center-box, #home-section {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#name-footer {
  position: absolute;
  top: 45%;
  color: white;
  text-align: center;
  z-index: 15;
  font-size: 8em;
  width: 100%;
  overflow: hidden;
  transition: font-size 0.4s, transform 0.4s;
}

#photo-cred {
	color: white;
	position: fixed;
	bottom: 0;
	text-align: right;
	font-size: 0.5em;
	opacity: 0.5;
	padding: 0.5em;
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	65%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}


/* RESPONSIVENESS */
/* narrow desktop web browsers */
@media screen and (max-width: 720px) {
	html { 
  	background: url('images/mural-small.jpg') no-repeat left center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 100%;
	}
	
	#name-footer {
  	font-size: 4em;
  	top: 80%;
	}
} /* end narrow desktop */

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
html { 
  	background: url('images/mural-small.jpg') no-repeat left center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 100%;
	}
	
	.center-box {
		padding-bottom: 15em;
	}
	
	#name-footer {
  	font-size: 9em;
  	top: 80%;
	}
	
	#menu-container {
		height: 9em;
		z-index: 10;
	}
	
	#menu-container .menu-btn {
		font-size: 3em;
		width: 6em;
	}
  
  #photo-cred {
  	font-size: 1em;
  }
} /* end mobile */