.photo-background-dim {
	background-color: #262626;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	overflow: scroll;
}

.image-viewer {
	display: none;
	width: 100%;
	height: 100%;
}

.image-viewer img {
	height: 85%;
	width: auto;
	position: absolute;
  z-index: 20;
  left: 25%;
  transition: transform 0.4s;
}

/* RESPONSIVENESS */
/* slightly narrow desktop */
@media screen and (max-width: 870px) {
	#photos-section ul .square {
      width: 50%;
      padding-bottom: 50%;
  }
} /* end slightly narrow desktop */

/* narrow desktop web browsers */
@media screen and (max-width: 720px) {
	#image-viewer img {
  	width: 90%;
    height: auto;
    left: 5%;
    top: 15%;
	}
}

/* super narrow desktop */
@media screen and (max-width: 580px) {
	#photos-section ul .square {
      width: 100%;
      padding-bottom: 100%;
  }
} /* end super narrow desktop */

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
	#photos-section {
		font-size: 2.75em;
		padding-top: 2em;
	}

	#photos-section ul .square {
      width: 100%;
      padding-bottom: 100%;
  }
  
  #photos-section ul {
  	margin: 0;
  }
  
  #image-viewer img {
  	width: 90%;
    height: auto;
    left: 5%;
	}
} /* end mobile */