html {
	background: none;
}

#name {
	margin-top: 0;
}

#resume-section {
	width: 70%;
	margin-left: 20%;
	padding: 0em 3em 3em 3em;
	transition: 0.5s ease;
	display: inline-block;
	vertical-align: top;
	overflow-y: scroll;
}

#resume-menu {
	border-right: 1px solid #B5B5B5;
	display: inline-block;
	width: 20%;
	vertical-align: top;
	position: fixed;
}

#resume-menu ul {
	list-style-type: none;
}

#resume-menu ul li {
	line-height: 2em;
}

#resume-menu ul li a {
	color: #99CCFF;
	text-decoration: none;
}

h2.resume-section-title {
	font-style: italic;
	color: #E5E5E5;
	margin-top: 2em;
}

.resume-super-strong {
	font-weight: 600;
	margin-top: 1.5em;
}

.subtitle {
	color: #B5B5B5;
	font-size: 0.9em;
	margin-top: 0.25em;
}

.description {
	font-size: 0.9em;
	margin-top: 0.75em;
}	

.technologies {
	font-weight: 400;
}

.hidden {
	display: none;
}

.horizontal-bar {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#relevant-courses {
	display: none;
	transition: 0.4s ease;
}

/* links in resume section */
.resume-link {
	color: #99CCFF;
	text-decoration: none;
}

/* PHOTO GRID */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.project-photos ul {
    list-style: none;
    margin: 0 2em 0 2em;
    padding: 0 0 0 0;
    clear: both;
}

.project-photos ul .square-resume {
    width: 50%; height: auto;
    position: relative;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 50% 0;
    overflow:hidden;
    transition: 0.8s ease;
}

.project-photos ul .square-resume img {
    max-width: none;
    width: 100%;
    padding: 2em;
    position: absolute;
    left: 0;
    vertical-align: middle;
}
/* END PHOTO GRID */



/* RESPONSIVENESS */
/* narrow desktop web browsers */
@media screen and (max-width: 800px) {
	#resume-menu {
		display: none;
	}
	#resume-section {
		margin: auto;
		padding: 0 2em 0 2em;
		display: block;
	}
	#resume-center-box {
		width: 100%;
	}
	.project-photos ul .square-resume {
      width: 100%;
      padding-bottom: 100%;
  }
} /* end narrow desktop */

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
 #resume-menu {
		display: none;
		border: none;
	}
	#resume-section {
		font-size: 2.5em;
		margin: auto;
		padding: 3em .75em 3em .75em;
		display: block;
	}
	#resume-center-box {
		width: 100%;
	}
	
	.project-photos {
		padding-top: 2em;
	}

	.project-photos ul .square-resume {
      width: 100%;
      padding-bottom: 100%;
  }
  
  .project-photos ul {
  	margin: 0;
  }
} /* end mobile */